 html{
            background-color: #07ff00;
        }
        body {
            background-color: #671246;
        }
        
        h1{
            background-color: #0100d4;
        }
        p{
            background-color: #ff4400;
        }
        /* Propiedad1:valorPropiedad1; */
    
    
        /*    CLASES: las clases empieza con punto .nombreClase{}*/
        .nombreClaseRojo{
            background-color: #ff0000;
        }
        .nombreClaseAzul{
            background-color: #4bb0c5;
        }
        .nombreClaseAmarillo{
            background-color: #ffd100;
        }
        /* SELECCIONAR: elementos por ID;*/
        
        #parrafoVerde{
            background-color: deeppink;
        }
        
        /*Tag cualquiera */
        
        cualquiera{
            background-color: aqua;
        }
        