<ul>
  <li><a [routerLink]="['/home']">Home</a></li>
  <li><a [routerLink]="['/tienda']">Tienda</a></li>
</ul>
<router-outlet></router-outlet>

<!--<h1>-->
<!--{{title}}-->
<!--</h1>-->
<!--<p>-->
<!--{{nombre}} - {{apellido}}-->
<!--</p>-->
<!--&lt;!&ndash;<h3>&ndash;&gt;-->
<!--&lt;!&ndash;{{nombreCompleto()}}&ndash;&gt;-->
<!--&lt;!&ndash;</h3>&ndash;&gt;-->
<!--<h3 [innerHTML]="nombreCompleto()" (click)="hizoClick()" (mouseenter)="hizoFocus()"-->
<!--[style.backgroundColor]= "colorH4" [style.fontSize]="tamanoH4" [class]="classes"-->
<!--#NombreUsuario></h3>-->
<!--<input type="text" [placeholder]="nombreCompleto()">-->

