<h2>Crear Raza</h2>

<form action="/Raza/crearRaza" method="post">

    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" placeholder="Ingrese nueva Raza" name="nombreRaza">
    </div>
    
    <button type="submit" class="btn btn-success">Crear Raza</button>
</form>

 