<div style='background-color:white; color:black'>


    <h1>Crear Usuario</h1>
    <form action="Usuario/crearUsuarioForm" method="post">

        <label for="">Nombre</label>
        <input type="text" name='nombres'>
        <br>
        <label for="">Apellido</label>
        <input type="text" name='nombres'>
        <br>
        <label for="">Correo</label>
        <input type="text" name='nombres'>
        <br>

        <button type="submit">Crear Usuario</button>
    </form>



</div>