<div style='background-color:white; color:black'>

    <% var numero1 = 1521526841;%>

        <% var arregloMascota = [{nombre:'Fabri'},{nombre:'fabrizio'},{nombre:'Ramirez'}];%>

            <h1>Home</h1>
            <h2><%= mauricio.nombre%> - <%=mauricio.cedula%> - <%= numero1%></h2>

            <% for(var i=0; arregloMascotas.length; i++){%>
                <h3>Mascota: <%= arregloMascota[i].nombre%>
                </h3>
                <%  }%>


</div>